.sidebar {
  width: 60px;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .sidebar-sticky {
    z-index: $zindex-sticky;
    position: fixed;
  }

  .sidebar-container {
    position: fixed;
    z-index: $zindex-dropdown;
    top: 40px;
    bottom: 0;
    width: 100%;
    display: none;
    background-color: #f8f9fa;
    margin-left: 60px;
    padding-left: 15px;
    padding-right: 75px;

    section {
      padding: 5px;
    }

    .menu-container {
      padding: 5px;
      border: 1px solid #ccc;
    }

    .menu-title {
      margin: -5px -5px 0;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  &.opened .sidebar-container {
    display: flex;
  }
}
